%ul.nav
  %li
    %a{:href => "/"}
      %i.icon-home

  %li.dropdown{:class => params[:controller] == "admin" ? "active" : ""}
    %a.dropdown-toggle{:href => "/admin"}
      Заказы

  %li.dropdown{:class => params[:controller] == "admin#categories" ? "active" : ""}
    %a.dropdown-toggle{:href => "/admin/categories"}
      Разделы

  %li.dropdown{:class => ["companies", "products"].include?(params[:controller].to_s) ? "active" : ""}
    %a.dropdown-toggle{:href => "/admin/companies"}
      Компании
      -#%b.caret
    -#%ul.dropdown-menu
      %li
        %a{:href => "products.html"} Шкафы
      %li
        %a{:href => "products.html"} Столы
      %li
        %a{:href => "products.html"} Кресла

  %li.dropdown{:class => params[:controller] == "textures" ? "active" : ""}
    %a.dropdown-toggle{:href => "/admin/textures"}
      Материалы

  %li.dropdown
    %a.dropdown-toggle{:href => "/admin/specials"}
      Акции и спецпредложения

  %li.search_form.pull-right
    %form.navbar-search{:method => "POST"}
      %input.icon-search{:type => 'submit', :value => ""}
      %input.input-medium.search-query{:placeholder => "Поиск...", :type => "text"}