.row.shopping_cart_content
  .span10.forms_block_le
    .tottal_text
      Общая сумма вашего заказа:
    .order_form.validate
      %form.form-horizontal#form-order-go{:action => "/basket/go", :method => "POST"}
        %input{:type => "hidden", :name => "order_id", :value => @order.id}
        %fieldset
          .control-group.section
            %label.control-label{:for => "name"} Ваше имя
            .controls
              %input#username.span6{:name => "order[name]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "phone"} Телефон
            .controls
              .input-prepend
                %span.add-on +7
                %input#phone.span6{:name => "order[phone]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name Пример: 555 444 33 22
          .control-group.section
            %label.control-label{:for => "city"} Город
            .controls
              %input#username.span6{:name => "order[city]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "street"} Улица
            .controls
              %input#username.span6{:name => "order[street]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "house"} Дом
            .controls
              %input#username.span2{:name => "order[house]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "floor"} Этаж
            .controls
              %input#username.span2{:name => "order[floor]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "room"} Квартира/Офис
            .controls
              %input#username.span2{:name => "order[room]", :placeholder => "", :type => "text"}
              %span.alert.alert-error.hide.call-order-error-name не менее 2 букв
          .control-group.section
            %label.control-label{:for => "text"} Комментарии
            .controls
              %textarea#address.span6{:name => "order[text]"}
  .span2.forms_block_ri
    .tottal.green
      = @order.sum.to_i
      %span
        р
    %button.btn.btn-success.btn-block.btn-large.order_issue_btn.disabled.subm{:onclick => "$('#form-order-go').submit();"} Оформить
    %a.btn.btn-block.back_btn{:href => "/basket"} Назад
