.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => "/"}
          %i.icon-home
        %span.divider /
      %li.active Каталог мебели

.row
  - if @categories
    - @categories.each do |cat|
      .span3
        .block_content
          .products_list.text_block

            %h4.title
              %span.pull-left
                %i.icon-book
                %strong= cat.name
            %a{:href => "/catalog/#{cat.id}", :title => cat.name}
              %p.obj_img
                - if !cat.photo.blank?
                  = image_tag cat.photo.url(:m)
