.row.filter_top
  .span12
    #main-menu.navbar
      .navbar-inner
        .container
          .nav-collapse
            %ul.nav.pull-left
              %li.dropdown
                %a.dropdown-toggle{:href => "/catalog/index"}
                  Показать
                  %span
                    все
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "products.html"} корпусную
                  %li
                    %a{:href => "products.html"} из камня
                  %li
                    %a{:href => "products.html"} живые
              %li.divider-vertical
              %li.width_300.pull-left
                %span.nna
                  Сортировать по цене:
                .layout-slider
                  %input#slider_cell{:name => "price", :type => "slider", :value => "1000;150000"}/
.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => "/"}
          %i.icon-home
        %span.divider /
      %li
        %a{:href => "/catalog/index"}
          Каталог мебели
        %span.divider /
      %li.active Шкафы

.row
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %span.sale
              %img{:alt => "", :src => "/assets/sale.png"}

            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          %p.obj_info_mini
            %span
              Вариация:
            %span
              7 вариантов вида
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину

  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %span.sale
              %img{:alt => "", :src => "/assets/new.png"}
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          %p.obj_info_mini
            %span
              Вариация:
            %span
              7 вариантов вида
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          %p.obj_info_mini
            %span
              Вариация:
            %span
              7 вариантов вида
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
.row
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину

  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
.row
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину

  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
.row
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину
  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину

  .span4
    .block_content
      .products_list.text_block

        %h4.title
          %span.pull-left
            %i.icon-book
            %strong Название шкафа
        %a{:href => '/catalog/detail', :title => ''}
          %p.obj_img
            %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT2SVoUu9_ohsYS4DQh8GuXl2f0AyGoEu7gMSTp1MRumZWzJjkkfQ", :alt => '', :width => '100%'}
          %p.obj_info_mini
            %span
              Цена:
            %span
              12 000
          %p.obj_info_mini
            %span
              Размеры:
            %span
              220 x 220 x 220
          %p.obj_info_mini
            %span
              Декор:
            %span
              3 вида обивки
          .btn-group
            %a.btn{:href => '#', :title => ''} Подробнее
            .btn.btn-success.add_to_shopping_cart В корзину