body
  font-size: 12px
  font-family: Arial, Tahoma
  background: #f2f2f2
.clear
  width: 100%
  overflow: hidden
  clear: both
  height: 0
a
  &:link, &:visited
    color: #666
    outline: none
  &:hover
    color: #91c113
    text-decoration: none
i
  opacity: .6
.center
  text-align: center !important
p.center
  margin: 0
table td
  vertical-align: middle !important
h4
  font-size: 17px
h4.title
  border-bottom: 2px solid #ddd
  padding-bottom: 1px
  margin-bottom: 15px
  overflow: hidden
  font-weight: normal
  color: #666
  text-transform: uppercase
  &.header
    text-indent: 6px
    padding-bottom: 7px
  strong
    color: #91c113

.container

.products_list h4.title
  .pull-left
    padding-left: 6px
  .pull-right
    padding-right: 10px
  span
    i
      margin-top: 2px
.products_list
  div
    div
      .slide_left,
      .slide_right
        display: inline-block
        cursor: pointer
        position: absolute
        top: 40%
        background: rgba(0, 0, 0, 0.3)
      .slide_left
        left: -27px
        border-radius: 10px 0 0 10px
        padding: 20px 5px 20px 8px
      .slide_right
        right: -27px
        border-radius: 0 10px 10px 0
        padding: 20px 8px 20px 5px
.navbar-inner
  padding-left: 0
  padding-right: 0
  border: 0
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
.navbar-inverse .nav
  > li > a
    color: #fff
  .active > a
    background-color: #91c113
    &:hover, &:focus
      background-color: #91c113
    &:first-child
      -webkit-border-radius: 4px 0 0 0
      -moz-border-radius: 4px
      border-radius: 4px 0 0 4px
      margin-left: -1px
#top-bar
  padding: 20px 0 15px 0
  margin-bottom: 60px
  ul
    .pad
      margin: 0 10px
    a
      padding: 2px 0
    &#languages
      background-color: #ddd
      margin-top: -1px
      -webkit-border-radius: 15px
      -moz-border-radius: 15px
      border-radius: 15px
  .active a
    background-color: transparent
    color: #91c113
  .span8.options ul
    margin: 0
    padding: 0
    li
      .phone_number
        font-size: 24px
  .logo
    position: relative
    top: 0px
    left: 0px

    /* edited by Je */
    a
      font-size: 39px
      font-weight: 200
      text-shadow: 0px 0px 1px rgb(0, 0, 0)
      &:hover
        text-shadow: 0px 0px 2px rgb(0, 0, 0)

      f
        color: rgb(145, 193, 19) !important
      /* end */
      span
        color: rgb(145, 193, 19) !important
        margin-right: -5px
  .nav-pills > li > a
    padding-top: 0
#top_menu
  position: absolute
  top: 60px
  left: 50%
  margin-left: -489px
  z-index: 100
.basket
  color: #999
  width: 100%
  text-align: right
  a
    padding: 1px 0px
    font-size: 8pt
    text-transform: uppercase
    i
      margin-top: -2px
  span.btn-group
    top: 3px

.row.services
  margin-top: 20px
  margin-bottom: 0px

.services

  h4
    margin: 0
    font-weight: normal
  img
    margin-right: 10px
    vertical-align: -10px
    width: 32px
    height: 32px
  .service
    border: 1px solid #ddd
    background-color: #fff
    padding: 3px
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    div
      min-height: 100px
      padding: 5px

.footer
  margin-top: -50px
  background-color: #ddd
  position: relative
  z-index: 0
  padding-top: 55px
  padding-bottom: 15px
  ul
    margin: 0
    padding-left: 16px
    color: #666
    list-style: disc
  a:hover
    color: #000
    text-decoration: underline
  h4
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5)

#main-menu
  .dropdown-menu li > a
    &:hover, &:focus
      color: #fff
      text-decoration: none
      background-color: #91c113
      background-image: none
      filter: none
  .dropdown-submenu:hover > a
    color: #fff
    text-decoration: none
    background-color: #91c113
    background-image: none
    filter: none
  .dropdown-menu
    border: 1px solid #91c113
    border-top: 5px solid #91c113
    border-bottom: 5px solid #91c113
    margin: 0
    border-radius: 0px
    -moz-border-radius: 0px
    -webkit-border-radius: 0px
    padding: 5px 0 0 0
    z-index: 999999
  ul.nav > li:hover
    background-color: #91c113
  .dropdown-menu li a
    padding: 5px 10px

#top-bar .dropdown-menu li a
  padding: 5px 10px

#main-menu
  .nav
    width: 100%
    font-weight: bold
    i
      opacity: 1
  .search_form
    float: right !important
    margin-right: 5px
    position: relative
    input
      color: #fff
      text-shadow: none
      padding-right: 25px
      &:focus
        color: #333333 !important
    input[type=submit]
      position: absolute
      top: 6px
      right: 9px
      width: 14px
      background-color: transparent
      border: none
      padding-right: 0

  ul.nav li
    &.dropdown:hover ul.dropdown-menu
      display: block
    &.search_form:hover
      background-color: transparent
  a.menu:after, .dropdown-toggle:after
    content: none

div.products_list
  .carousel, .thumbnails > li
    margin-bottom: 0
.colored
  box-shadow: 0px 0px 30px yellow !important

.listing-products
  padding: 0
  margin-bottom: 0
  li .product-box
    width: 200px
    padding: 8px
    position: relative
    &:hover
      background-color: #f4f4f4
    h4
      font-size: 14px
      margin: 3px 0
    a.img_box
      display: block
      width: 200px
      height: 135px
      overflow: hidden
      img
        width: 100%
    .btn
      width: 100%
      text-align: center
      padding-left: 0
      padding-right: 0
span.sale
  height: 54px
  margin: -1px 0px 0px -1px
  position: absolute
  width: 55px
  overflow: hidden
  z-index: 100
  top:  -2px
  left:  -2px
  img
    width: 100%
.obj_img
  position: relative
  img
    margin: 0 !important
    height: 132px
  span
    left: 14px
    img
      float: none
      margin: 0 !important

p.price
  font-weight: bold
  margin-top: 0px
  color: rgb(51, 51, 51) !important
  span
    color: #91c113 !important
    font-weight: normal
    font-size: 18px
    padding-right: 5px
    padding-left: 5px
p.obj_info_mini
  font-size: 12px
  span:first-child
    font-weight: bold
    margin-top: 0px
    color: rgb(51, 51, 51) !important
    width: 80px
    display: block
    float: left
    @mixin text-overflow()
  span:last-child
    color: #91c113 !important
    font-weight: normal
    padding-right: 5px
    padding-left: 5px
    @mixin text-overflow()
.block_content
  border: 1px solid #dddddd
  border-bottom: 3px solid #dddddd
  margin: 20px 0 0 0
  z-index: 1
  border-radius: 4px
  position: relative
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  background-color: #ffffff

.breadcrumb
  margin: -10px 0
  background-color: transparent
  padding: 5px 0
  li
    a
      i
        margin-top: -1px
#myModal
  width: 515px

#slider
  width: 100%
  overflow: hidden
  height: 250px
  position: relative
.slider_container
  width: 100%
  overflow: hidden
  position: relative
  a
    width: 940px
    height: 250px
    display: block
    text-align: center
    img
      display: block
      height: 250px
      width: 100%

#slider
  .next, .prev
    float: right
    bottom: 5%
    right: 5%
    width: 30px
    height: 30px
    display: block
    z-index: 100
    position: relative
    -webkit-border-radius: 50px
    text-align: center
    -moz-border-radius: 50px
    border-radius: 50px
    background: rgba( 0, 0, 0, 0.5 )
    line-height: 27px
    font-size: 20px
    font-weight: bold
    position: absolute
#slider
  .next
    margin-right: -25px


.mini_rek
  a
    overflow: hidden
    img
      width: 100%
      height: 250px
.main-content
  padding: 7px 0px
  section
    padding: 0 6px
    .span12
      width: auto
    .row.services .span4
      width: 296px

.span3.col
  width: 206px
  ul.thumbnails img
    width: 190px

.thumbnails.small
  margin-top: 10px

a.thumbnail:hover
  border: 1px solid #91c113

ul.social
  padding: 0
  margin: 0
  list-style: none
  li
    float: left
    margin-right: 10px

.nav-header
  color: #fff
  background-color: #91c113
  text-shadow: none !important
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px

.nav-list
  li a
    background: url(../img/trigger_right.png) transparent no-repeat 5px 8px
  > .active > a
    background-color: transparent
    color: #000
    text-shadow: none
    font-weight: bold
    &:hover
      background-color: transparent
      color: #000
      text-shadow: none
      font-weight: bold

.bg-colleft
  background: url(../img/bg_page.png) white repeat-y 715px 0

.company_info p i
  margin-top: -1px
.socseti
  a
    text-decoration: none !important
    img

      width: 30px
.text_block
  a
    .tag
      margin: 0 15px
      width: 75%
  p
    padding: 0 15px
    overflow: hidden
    img
      float: left
      margin: 0 25px 10px 10px
.catalog_list_nth
  .span3:nth-child(4n+1)
    clear: left !important


.shopping_cart_content
  div
    .one_cart
      &::before, &::after
        z-index: -1
        position: absolute
        content: ""
        bottom: 15px
        left: 10px
        width: 50%
        top: 80%
        max-width: 300px
        background: rgba(0, 0, 0, 0.7)
        -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
        -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
        -webkit-transform: rotate(-3deg)
        -moz-transform: rotate(-3deg)
        -o-transform: rotate(-3deg)
        -ms-transform: rotate(-3deg)
        transform: rotate(-3deg)

    .one_cart::after
      -webkit-transform: rotate(3deg)
      -moz-transform: rotate(3deg)
      -o-transform: rotate(3deg)
      -ms-transform: rotate(3deg)
      transform: rotate(3deg)
      right: 10px
      left: auto

    .one_cart
      border-bottom: 1px solid rgb(204, 204, 204)
      margin-bottom: 20px
      position: relative
      background: rgb(242, 242, 242)
      .row
        h3
          border-bottom: 1px solid rgb(204, 204, 204)
          margin-bottom: 25px
          line-height: 0
          font-size: 21px
          position: relative
          span
            background: rgb(242, 242, 242)
            padding-right: 15px

          .icon_box
            position: absolute
            right: 0
            top:  -6px
            background: rgb(242, 242, 242)
            i
              float: right
              margin-left: 15px
              cursor: pointer
      p.label
        clear: both
      ul.thumbnails.row
        li
          margin-bottom: 0
        li.span2
          a.thumbnail
        li.span4
          ul.thumbnails.row
            li
              margin-bottom: 13px
              a.thumbnail
              p
                margin-bottom: -6px
                span
                  color: rgb(145, 193, 19) !important
        li.span1
          button.btn.btn-block
            margin-bottom: 10px
          input.span1
            margin-bottom: 10px
            text-align: center
            font-weight: bold
        li.span3
          h3
            line-height: 31px
            border: none
            text-align: center
            padding: 0
            margin: 39px 0
.overview
  .slide_el
    float: left

p.price span.red
  color: red !important
  text-shadow: 0px 0px 15px red !important
.dop_info_footer
  p
    margin-top: 10px
    font-size: 10px
    line-height: 12px

.products_list.text_block
  .btn-group
    width: 89%
    padding: 0 0 15px 10px
    display: table
    .btn
      padding-left: 0
      padding-right: 0
      width: 49.9%
.shopping_cart_link.pull-right
  float: right !important



#scrollbar2
  .scrollbar
    background: rgba(0, 0, 0, 0.5)
    position: relative
    margin: 0 0 5px
    clear: both
    height: 15px
  .track
    background: transparent url(../images/bg-scrollbar-trackend-x.png) no-repeat 100% 0
    width: 100%
    height: 15px
    position: relative
  .thumb
    background: rgba(255, 255, 255, 0.5)
    height: 25px
    cursor: pointer
    overflow: hidden
    position: absolute
    left: 0
    top: -5px
    .end
      background: transparent url(../images/bg-scrollbar-thumb-x.png) no-repeat 0 50%
      overflow: hidden
      height: 25px
      width: 5px
  .disable
    display: none

.filter_top
  margin-top: 20px
#main-menu ul.nav > li:hover
  background-color: transparent !important
#main-menu ul.nav > li > a
  span
    color: rgb(145, 193, 19) !important

.noSelect
  user-select: none
  -o-user-select: none
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none


.width_300
  width: 400px
  height: 40px
  span.nna
    float: left
    margin-top: 10px
    display: block
  .layout-slider
    width: 260px
    float: right
    margin-top: 18px
.jslider_round
  .jslider-bg i
    background-image: url(/assets/jslider.round.plastic.png)
  .jslider-pointer
    background-image: url(/assets/jslider.round.plastic.png)
    width: 17px
    height: 17px
    top: -6px
    margin-left: -8px
.jslider
  .jslider-bg i, .jslider-pointer
    background-image: url(/assets/jslider.round.plastic.png)
  display: block
  width: 100%
  height: 1em
  position: relative
  top: 0.6em
  font-family: Arial, sans-serif
  table
    width: 100%
    border-collapse: collapse
    border: 0
  td, th
    padding: 0
    vertical-align: top
    text-align: left
    border: 0
  table
    width: 100%
    vertical-align: top
    tr
      width: 100%
      vertical-align: top
      td
        width: 100%
        vertical-align: top
  .jslider-bg
    position: relative
    i
      height: 5px
      position: absolute
      font-size: 0
      top: 0
    .l
      width: 10%
      background-position: 0 0
      left: 0
    .f
      width: 80%
      left: 10%
      background-repeat: repeat-x
      background-position: 0 -20px
    .r
      width: 10%
      left: 90%
      background-position: right 0
    .v
      position: absolute
      width: 60%
      left: 20%
      top: 0
      height: 5px
      background-repeat: repeat-x
      background-position: 0 -40px
  .jslider-pointer
    width: 13px
    height: 15px
    background-position: -2px -62px
    position: absolute
    left: 20%
    top: -4px
    margin-left: -6px
    cursor: pointer
    cursor: hand
  .jslider-pointer-hover
    background-position: -22px -62px
  .jslider-pointer-to
    left: 80%
  .jslider-label
    font-size: 9px
    line-height: 12px
    color: black
    opacity: 0.4
    white-space: nowrap
    padding: 0px 2px
    position: absolute
    top: -18px
    left: 0px
  .jslider-label-to
    left: auto
    right: 0
  .jslider-value
    font-size: 9px
    white-space: nowrap
    padding: 1px 2px 0
    position: absolute
    top: -19px
    left: 20%
    background: white
    line-height: 12px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    -o-border-radius: 2px
    border-radius: 2px
  .jslider-value-to
    left: 80%
  .jslider-label small, .jslider-value small
    position: relative
    top: -0.4em
  .jslider-scale
    position: relative
    top: 9px
    span
      position: absolute
      height: 5px
      border-left: 1px solid #999
      font-size: 0
    ins
      font-size: 9px
      text-decoration: none
      position: absolute
      left: 0px
      top: 5px
      color: #999

.jslider-single
  .jslider-pointer-to, .jslider-value-to, .jslider-bg .v
    display: none

.jslider-limitless .jslider-label
  display: none

.tottal_text,
.tottal
  text-align: right
  font-size: 24px
  font-weight: bold
  margin-bottom: 25px
  padding-bottom: 20px
  border-bottom: 1px dashed #333333
.forms_block_le
  min-height: 320px
.text_underline
  text-decoration: underline
.tottal
  text-align: left
  span
    color: #333333
.green
  color: rgb(145, 193, 19) !important
.red
  color: rgb(218, 79, 73) !important
.yellow
  color: rgb(250, 167, 50) !important

.list_shadow
  &::before,
  &::after
    z-index: -1
    position: absolute
    content: ""
    bottom: 15px
    left: 10px
    width: 50%
    top: 80%
    max-width: 300px
    background: rgba(0, 0, 0, 0.7)
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7)
    -webkit-transform: rotate(-3deg)
    -moz-transform: rotate(-3deg)
    -o-transform: rotate(-3deg)
    -ms-transform: rotate(-3deg)
    transform: rotate(-3deg)

.list_shadow::after
  -webkit-transform: rotate(3deg)
  -moz-transform: rotate(3deg)
  -o-transform: rotate(3deg)
  -ms-transform: rotate(3deg)
  transform: rotate(3deg)
  right: 10px
  left: auto
.row
  /*margin-bottom: 25px*/
.clear-margin-top
  margin-top: 0
.clear-color-line
  margin-top: 50px
  margin-bottom: 35px
  .line
    position: relative
    border-bottom: 1px solid #dedede
    span
      position: absolute
      left:  0
      top: -10px
      font-size: 24px
      background: rgb(242, 242, 242)
      padding-right: 10px

  p
    margin-top: 15px
    margin-bottom: 0
.buy_img
  margin: 0
.cloth_cont
  position: fixed
  top: 15%
  right: -252px
  padding: 0 5px
  background: rgba(255,255,255,0.9)
  border: 1px solid rgb(222, 222, 222)
  width: 300px
  z-index: 500
  -webkit-box-shadow: -3px 3px 20px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    -3px 3px 20px rgba(50, 50, 50, 0.75)
  box-shadow:         -3px 3px 20px rgba(50, 50, 50, 0.75)
  .cloth_box
    width: 100%

    padding: 5px
    border-bottom: 1px solid rgb(222, 222, 222)
    padding: 5px  0
    a
      display: block
      float: left
      margin-right: 10px
      width: 50px
      height: 50px
      overflow: hidden
    p
      font-size: 14px
      span
        color: rgb(145, 193, 19) !important
      &:last-child
        margin-bottom: 0
    span
      display: block
      font-size: 14px
  .zero_b

  .fr_b
    display: none
    margin-left: 350px
    height: 0
  .sec_b
    display: none
    margin-left: 350px
    height: 0
    border-bottom: none !important
  form
    margin-bottom: 0
    input
      margin: 5px 0
  .arr_left_box
    position: absolute
    left: -30px
    top: -1px
    width: 30px
    height: 30px
    text-align: center
    line-height: 31px
    font-size: 16px
    color: #333333
    background: rgba(255,255,255,0.9)
    -webkit-border-radius: 10px 0 0 10px
    -moz-border-radius: 10px 0 0 10px
    border-radius: 10px 0 0 10px
    border: 1px solid rgb(222, 222, 222)
    border-right: none
    cursor: pointer
.thumbnail.select
  border: 1px solid rgb(145, 193, 19) !important
  box-shadow: -3px 3px 7px rgba(145, 193, 19, 0.4) !important

.controls
  .input-prepend
    input
      width: 419px !important
  span.alert
    width: 68%

.span4
  .block_content
    .products_list.text_block
      h4.title
        span.pull-left
          i.icon-book
          strong
      a
        p.obj_img
          img
            width: 100%

.tag
  font-family: Helvetica, Arial, sans-serif
  background: #588fe5
  display: inline-block
  color: #fff
  position: relative
  padding: 5px
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  margin: 0 0 0 0
  text-decoration: none
  width: 87%
  margin-bottom: 10px
  font-size: 20px

  &:hover

  &:before
    background: #fff
    width: 10px
    height: 10px
    content: ""
    display: inline-block
    border-radius: 20px
    margin: 0 0 0 0
    position: relative
    top:  -1px
    @include box-shadow(inset 0px 2px 5px rgba(0, 0, 0, 0.2))
  &:after
    display: inline-block
    border: 15px solid
    border-color: transparent transparent transparent #588fe5
    height: 0
    width: 0
    position: absolute
    right: -30px
    top: 0
    content: ""
    display: inline-block

  &:hover:after

.tag.tag-big
  font-size: 28px
  margin-bottom: 15px
  &:before
    margin: 0
    top:  -4px
    position: relative
  &:after
    border: 20px solid
    right: -40px
    border-color: transparent transparent transparent #588fe5
.tag-red
  background-color: rgb(228, 92, 33) !important
  &:after
    border-color: transparent transparent transparent rgb(228, 92, 33) !important
.viewport
  overflow: hidden