body
  font-size: 12px
  font-family: Arial, Tahoma
  background: #f2f2f2
.clear
  width: 100%
  overflow: hidden
  clear: both
  height: 0
a
  &:link, &:visited
    color: #666
    outline: none
  &:hover
    color: #91c113
    text-decoration: none
i
  opacity: .6
.center
  text-align: center !important
p.center
  margin: 0
table td
  vertical-align: middle !important
h4
  font-size: 17px
h4.title
  border-bottom: 2px solid #ddd
  padding-bottom: 1px
  margin-bottom: 15px
  overflow: hidden
  font-weight: normal
  color: #666
  text-transform: uppercase
  &.header
    text-indent: 6px
    padding-bottom: 7px
  strong
    color: #91c113

.container

.products_list h4.title
  .pull-left
    padding-left: 6px
  .pull-right
    padding-right: 10px
  span
    i
      margin-top: 2px
.span3.col
  h4.title
    .pull-right
      padding-right: 0
h4.title
  .left, .right
    display: inline-block
    width: 22px
    height: 22px
    cursor: pointer
  .button:hover
    text-decoration: none
.navbar-inner
  padding-left: 0
  padding-right: 0
  border: 0
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
.navbar-inverse .nav
  > li > a
    color: #fff
  .active > a
    background-color: #91c113
    &:hover, &:focus
      background-color: #91c113
    &:first-child
      -webkit-border-radius: 4px 0 0 0
      -moz-border-radius: 4px
      border-radius: 4px 0 0 4px
      margin-left: -1px
#top-bar
  padding: 20px 0 15px 0
  ul
    .pad
      margin: 0 10px
    a
      padding: 2px 0
    &#languages
      background-color: #ddd
      margin-top: -1px
      -webkit-border-radius: 15px
      -moz-border-radius: 15px
      border-radius: 15px
  .active a
    background-color: transparent
    color: #91c113
  .span8.options ul
    margin: 0
    padding: 0
  .logo
    position: relative
    top: 0px
    left: 0px
    a
      font-size: 26px
      font-weight: bold

      span
        color: rgb(145, 193, 19) !important
        margin-right: -5px
  .nav-pills > li > a
    padding-top: 0

.basket
  color: #999
  width: 100%
  text-align: right
  a
    padding: 1px 0px
    font-size: 8pt
    text-transform: uppercase
    i
      margin-top: -2px
  span.btn-group
    top: 3px

.row.services
  margin-top: 20px
  margin-bottom: 0px
  position: absolute
.services
  h4
    margin: 0
    font-weight: normal
  img
    margin-right: 10px
    vertical-align: -10px
    width: 32px
    height: 32px
  .service
    border: 1px solid #ddd
    background-color: #fff
    padding: 3px
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    div
      min-height: 100px
      padding: 5px

.footer
  margin-top: -50px
  background-color: #ddd
  position: relative
  z-index: 0
  padding-top: 55px
  padding-bottom: 15px
  ul
    margin: 0
    padding-left: 16px
    color: #666
    list-style: disc
  a:hover
    color: #000
    text-decoration: underline
  h4
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5)

#main-menu
  .dropdown-menu li > a
    &:hover, &:focus
      color: #fff
      text-decoration: none
      background-color: #91c113
      background-image: none
      filter: none
  .dropdown-submenu:hover > a
    color: #fff
    text-decoration: none
    background-color: #91c113
    background-image: none
    filter: none
  .dropdown-menu
    border: 1px solid #91c113
    border-top: 5px solid #91c113
    border-bottom: 5px solid #91c113
    margin: 0
    border-radius: 0px
    -moz-border-radius: 0px
    -webkit-border-radius: 0px
    padding: 5px 0 0 0
    z-index: 999999
  ul.nav > li:hover
    background-color: #91c113
  .dropdown-menu li a
    padding: 5px 10px

#top-bar .dropdown-menu li a
  padding: 5px 10px

#main-menu
  .nav
    width: 100%
    font-weight: bold
    i
      opacity: 1
  .search_form
    float: right !important
    margin-right: 5px
    position: relative
    input
      color: #fff
      text-shadow: none
      padding-right: 25px
      &:focus
        color: #333333 !important
    input[type=submit]
      position: absolute
      top: 6px
      right: 9px
      width: 14px
      background-color: transparent
      border: none
      padding-right: 0

  ul.nav li
    &.dropdown:hover ul.dropdown-menu
      display: block
    &.search_form:hover
      background-color: transparent
  a.menu:after, .dropdown-toggle:after
    content: none

div.products_list
  .carousel, .thumbnails > li
    margin-bottom: 0

.listing-products
  padding: 0
  margin-bottom: 0
  li .product-box
    width: 200px
    padding: 8px
    position: relative
    &:hover
      background-color: #f4f4f4
    h4
      font-size: 14px
      margin: 3px 0
    a.img_box
      display: block
      width: 200px
      height: 150px
      overflow: hidden
      img
        width: 100%

span.sale
  height: 54px
  margin: -1px 0px 0px -1px
  position: absolute
  width: 55px
  overflow: hidden
  z-index: 100
  top:  -2px
  left:  -2px
  img
    width: 100%
.obj_img
  position: relative
  img
    margin: 0 !important
  span
    left: 14px
    img
      float: none
      margin: 0 !important

p.price
  font-weight: bold
  margin-top: 0px
  color: rgb(51, 51, 51) !important
  span
    color: #91c113 !important
    font-weight: normal
    font-size: 18px
    padding-right: 5px
    padding-left: 5px
p.obj_info_mini
  font-size: 16px
  span:first-child
    font-weight: bold
    margin-top: 0px
    color: rgb(51, 51, 51) !important
    width: 90px
    display: block
    float: left
  span:last-child
    color: #91c113 !important
    font-weight: normal
    padding-right: 5px
    padding-left: 5px
.block_content
  border: 1px solid #dddddd
  border-bottom: 3px solid #dddddd
  margin: 20px 0 0 0
  z-index: 1
  box-shadow: 0px 0px 2px #bbbbbb
  border-radius: 4px
  position: relative
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  overflow: hidden
  background-color: #ffffff

.breadcrumb
  margin: -10px 0
  background-color: transparent
  padding: 5px 0
  li
    a
      i
        margin-top: -1px
#myModal
  width: 515px

#slider
  width: 100%
  overflow: hidden
  height: 250px
  position: relative
.slider_container
  width: 100%
  overflow: hidden
  position: relative
  a
    width: 100%
    height: 250px
    display: block
    text-align: center
    img
      display: block
      height: 250px
      width: 100%

#slider
  .next, .prev
    float: right
    bottom: 5%
    right: 5%
    width: 30px
    height: 30px
    display: block
    z-index: 100
    position: relative
    -webkit-border-radius: 50px
    text-align: center
    -moz-border-radius: 50px
    border-radius: 50px
    background: rgba( 0, 0, 0, 0.5 )
    line-height: 27px
    font-size: 20px
    font-weight: bold
    position: absolute
#slider
  .next
    margin-right: -25px


.mini_rek
  a
    overflow: hidden
    img
      width: 100%
      height: 250px
.main-content
  padding: 7px 0px
  section
    padding: 0 6px
    .span12
      width: auto
    .row.services .span4
      width: 296px

.span3.col
  width: 206px
  ul.thumbnails img
    width: 190px

.thumbnails.small
  margin-top: 10px

a.thumbnail:hover
  border: 1px solid #91c113

ul.social
  padding: 0
  margin: 0
  list-style: none
  li
    float: left
    margin-right: 10px

.nav-header
  color: #fff
  background-color: #91c113
  text-shadow: none !important
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px

.nav-list
  li a
    background: url(../img/trigger_right.png) transparent no-repeat 5px 8px
  > .active > a
    background-color: transparent
    color: #000
    text-shadow: none
    font-weight: bold
    &:hover
      background-color: transparent
      color: #000
      text-shadow: none
      font-weight: bold

.bg-colleft
  background: url(../img/bg_page.png) white repeat-y 715px 0

.company_info p i
  margin-top: -1px
.socseti
  a
    text-decoration: none !important
    img

      width: 30px
.text_block
  p
    padding: 0 15px
    overflow: hidden
    img
      float: left
      margin: 0 25px 10px 10px


.shopping_cart
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 500
  background: transparent url("/assets/linen.jpg") top left repeat
  .container
    position: absolute
    top: 0
    left: 50%
    margin-left: -470px
    bottom: 0
    a.btn
      width: 100% !important
      margin-bottom: 5px
      box-sizing: border-box
      &:hover
        color: #ffffff !important
    a.btn-default
      color: #333333 !important
    a
      color: #ffffff !important
      &:hover
        color: #91c113 !important
    .shopping_box
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      h4.title

        color:  #ffffff !important
        span
          strong
      .shopping_box_inner
        position: absolute
        top: 25px
        left: 0
        right: 0
        bottom: 135px
        overflow: hidden
        .row.overview
          overflow: hidden
          width: 100%
          .span3
            .block_content
              .products_list.text_block
                h4.title
                  span.pull-left
                    i.icon-book
                    strong
                a
                  p.obj_img
                    span.sale
                      img
                    img
                  p.obj_info_mini
                    font-size: 12px
                    span:first-child
                      width: 60px
                    span:last-child


      .shopping_box_tottal
        position: absolute
        left: 0
        right: 0
        bottom: 80px
        border-top: 2px solid rgb(221, 221, 221)
        p
          float: right
          font-size: 18px
          color: #ffffff
          padding-top: 10px

      .shopping_box_footer
        position: absolute
        left: 0
        right: 0
        bottom: 5px
        text-align: center